<%- include("partials/partials.dash.header.ejs") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestor de Facturas</title>
        <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> FactuPro
                    <small class="pull-right">Fecha: <input type="date" id="invoice-date"></small>
                </h2>
            </div>
        </div>

        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                De
                <address>
                    <strong><input type="text" id="from-name" placeholder="Nombre de la Empresa"></strong><br>
                    <input type="text" id="from-address1" placeholder="Dirección Línea 1"><br>
                    <input type="text" id="from-address2" placeholder="Dirección Línea 2"><br>
                    Teléfono: <input type="number" id="from-phone" placeholder="Teléfono"><br>
                    Correo electrónico: <input type="email" id="from-email" placeholder="Email">
                </address>
            </div>

            <div class="col-sm-4 invoice-col">
                A
                <address>
                    <strong><input type="text" id="to-name" placeholder="Nombre del Cliente"></strong><br>
                    <input type="text" id="to-address1" placeholder="Dirección Línea 1"><br>
                    <input type="text" id="to-address2" placeholder="Dirección Línea 2"><br>
                    Teléfono: <input type="number" id="to-phone" placeholder="Teléfono"><br>
                    Correo electrónico: <input type="email" id="to-email" placeholder="Email">
                </address>
            </div>

            <div class="col-sm-4 invoice-col">
                <b>Factura #<input type="text" id="invoice-number" placeholder="Número de Factura"></b><br>
                <br>
                <b>ID de pedido:</b> <input type="text" id="order-id" placeholder="ID de Pedido"><br>
                <b>Vencimiento del pago:</b> <input type="date" id="payment-due"><br>
                <b>Cuenta:</b> <input type="text" id="account-number" placeholder="Número de Cuenta">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped" id="items-table">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Número de serie</th>
                            <th>Descripción</th>
                            <th> </th>
                        </tr>
                        <tr>
                            <th><input type="number" name="" id=""></th>
                            <th><input type="text"></th>
                            <th><input type="number" value=""></th>
                            <th><input type="text"></th>
                            <th>
                                <button></button>
                            </th>
                        </tr>
                        <tr>
                            <th><input type="number" name="" id=""></th>
                            <th><input type="text"></th>
                            <th><input type="number" value=""></th>
                            <th><input type="text"></th>
                            <th>
                                <button></button>
                            </th>
                        </tr>
                        <tr>
                            <th><input type="number" name="" id=""></th>
                            <th><input type="text"></th>
                            <th><input type="number" value=""></th>
                            <th><input type="text"></th>
                            <th>
                                <button></button>
                            </th>
                        </tr>
                        <tr>
                            <th><input type="number" name="" id=""></th>
                            <th><input type="text"></th>
                            <th><input type="number" value=""></th>
                            <th><input type="text"></th>
                            <th>
                                <button></button>
                            </th>
                        </tr>
                        <tr>
                            <th><input type="number" name="" id=""></th>
                            <th><input type="text"></th>
                            <th><input type="number" value=""></th>
                            <th><input type="text"></th>
                            <th>
                                <button></button>
                            </th>
                        </tr>
                        <tr>
                            <th><input type="number" name="" id=""></th>
                            <th><input type="text"></th>
                            <th><input type="number" value=""></th>
                            <th><input type="text"></th>
                            <th>
                                <button></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be added here by JavaScript -->
                    </tbody>
                </table>
                 
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p class="lead">Métodos de pago:</p>
                <div class="imagen-vista"></div>
                <br>
                <div class="imagen-vistas"></div>
                <br>
                <div class="imagen-visitas"></div>
                <br>
                <img src="/img/klipartz.com.png" width="10%" height="10%" alt="PayPal">
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                  <td><input type="text" id="shipping" value="0.00" step="0.01"></td>  Aquí tienes diferentes métodos de pagos online.
                </p>
            </div>

            <div class="col-xs-6">
                <p class="lead">Monto adeudado</p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:50%">Total parcial:</th>
                                <td><input type="number" id="shipping" value="0.00" step="0.01"></td>
                            </tr>
                            <tr>
                                <th>Impuesto (9,3%):</th>
                                <td><input type="number" id="shipping" value="0.00" step="0.01"></td>
                            </tr>
                            <tr>
                                <th>Envío:</th>
                                <td><input type="number" id="shipping" value="0.00" step="0.01"></td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td><input type="number" id="shipping" value="0.00" step="0.01"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row no-print">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default" onclick="window.print()"><i class="fa fa-print"></i> Imprimir</button>
                <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Enviar pago</button>
                <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generar PDF</button>
            </div>
        </div>
    </section>
    <script src="/src/public/dash/dist/js/script.js"></script>
</body>
</html>
<%- include("partials/partials.dash.footer.ejs") %>